    <script src="/main-bundled.js"></script>
</body>
<footer>
  <p class="sign animate__animated animate__bounceInUp">by Bernatto</p>
  <p class="sign animate__animated animate__bounceInUp">Copyright &copy; <%= new Date().getFullYear() %> </p>
</footer>
</html>
