
.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-trash-1:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-box:before { content: '\e805'; } /* '' */
.icon-cog-outline:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-equalizer:before { content: '\e808'; } /* '' */
.icon-wrench-1:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-layout:before { content: '\e80b'; } /* '' */
.icon-dot-3:before { content: '\e80c'; } /* '' */
.icon-calendar-alt:before { content: '\e80d'; } /* '' */
.icon-cog-alt:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-off:before { content: '\e810'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-trash-2:before { content: '\f083'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */