<div class="wrap">
    <!-- ADD -->
      <form action="#" method="POST" class="deleteForm animate__animated animate__bounceInDown" id="deleteForm">
        <div class="div_resize">
          <label id="" for="delRubroNro" class="titles">¿SEGURO QUE DESEA ELIMINAR?</label>
          <label id="" for="delRubroNro" class="L2 mainlabels">RUBRO</label>
          <input name="delRubroNro" id="delRubroNro" type="number" class="short" readonly/>
          <input name="delRubroDescri" type="text" id="delRubroDescri" class="long" readonly/>
        </div>      
        <div class="btnActions">
          <button for="" class="btnEliminar" id="btnEliminar">Eliminar</button>
          <button for="" class="btnCancelar3" id="btnCancelar3">Cancelar</button>
        </div>
      </form>        
</div>