<%- include("includes/header") %>  
    
<%- include("includes/flash") %>  
<form action="/login" method="POST" class="container2 login animate__animated animate__bounceInUp">
  <div class="div_resize">
    <label for="user" class="menuLogin mainMenu icon-user" id=""></label>
    <input placeholder="USUARIO" id="username" name="username" type="text" class="long" required/>   
  </div>
  <div class="div_resize">
    <label for="password" class="menuLogin icon-key" id=""></label>
    <input placeholder="CONTRASEÑA" name="password" id="password" type="password" class="long" onclick="this.select()" required/>
  </div>
 
  <div class="btnActions">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
    <button for="" class="btn icon-lock-open" id="login"></button>
  </div>
</form>
<script>document.querySelector("#username").focus()</script>
</body>
</html>
