<div class="wrap">
    <!-- ADD -->
      <form action="/addNivel" method="POST" stage="off" class="addForm animate__animated animate__bounceInDown" id="addFormNivel">
        <div class="div_resize">
          <label id="" for="addNivelNro" class="titles">AGREGAR NIVEL</label>
          <label id="" for="addNivelNro" class="L2 mainlabels">NIVEL</label>
          <input name="nivelNro" id="addNivelNro" type="number" class="short" />
          <input name="nivelDescri" type="text" id="addNivelDescri" class="long" placeholder="Descripción"/>
        </div>
        <div class="btnActions">
          <button for="" class="btn btnGuardar icon-plus" id="btnSaveNivel"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelNivel"></button>
        </div>
      </form>  

      <!-- UPDATE -->
      <form action="/updateNivel" method="POST" stage="off" class="updateForm animate__animated animate__bounceInDown" id="updateFormNivel">
        <div class="div_resize">
          <label id="" for="updateNivelNro" class="titles">MODIFICAR NIVEL</label>
          <label id="" for="updateNivelNro" class="L2 mainlabels">NIVEL</label>
          <input name="nivelNro" id="updateNivelNro" type="number" class="short" readonly/>
          <input name="nivelDescri" type="text" id="updateNivelDescri" class="long">
        </div>
        <div class="btnActions">
          <button for="" class=" btn btnModificar icon-arrows-cw" id="btnSaveNivelUpdate"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelNivelUpdate"></button>
        </div>
        <table id="updateNivelTable" class="tbNivel">
          <tr>
            <th>Nivel</th>
            <th>Descripción</th>
          </tr>      
              <% nivel.forEach(function(nivel) { %>
                <tr>
                  <td><%= nivel.nivel_cod %> </td>
                  <td><%= nivel.nivel_descri %> </td>
                </tr>
              <% });  %> 
        </table>
      </form> 

      <!-- DELETE -->
      <form action="#" method="POST" stage="off" class="deleteForm animate__animated animate__bounceInDown" id="deleteFormNivel">
        <div class="div_resize">
          <label id="" for="delNivelNro" class="titles">¿SEGURO QUE DESEA ELIMINAR?</label>
          <label id="" for="delNivelNro" class="L2 mainlabels">NIVEL</label>
          <input name="nivelNro" id="delNivelNro" type="number" class="short" readonly/>
          <input name="nivelDescri" type="text" id="delNivelDescri" class="long" readonly/>
        </div>      
        <div class="btnActions">
          <button for="" class="btn btnEliminar icon-trash-2" id="btnSaveNivelDelete"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelNivelDelete"></button>
        </div>
        <table id="deleteNivelTable" class="tbNivel">        
          <tr>
            <th>Nivel</th>
            <th>Descripción</th>
          </tr>
              <% nivel.forEach(function(nivel) { %>
                <tr>
                  <td><%= nivel.nivel_cod %> </td>
                  <td><%= nivel.nivel_descri %> </td>
                </tr>
              <% });  %> 
        </table>
      </form> 
      
    </div>