<div class="wrap">
    <!-- ADD -->
      <form action="/addRubro" method="POST" stage="off" class="addForm animate__animated animate__bounceInDown" id="addFormRubro">
        <div class="div_resize">
          <label id="" for="addRubroNro" class="titles">AGREGAR RUBRO</label>
          <label id="" for="addRubroNro" class="L2 mainlabels">RUBRO</label>
          <input name="rubroNro" id="addRubroNro" type="number" class="short" onclick="this.select()"/>
          <input name="rubroDescri" type="text" id="addRubroDescri" class="long"/>
        </div>
        <div class="div_resize">
          <label for="addRubroNivel" class="L1 mainlabels">NIVEL</label>
          <input id="addRubroNivel" name="rubroNivel" type="number" class="short"/>
        </div>
        <div class="btnActions">
          <button for="" class="btn btnGuardar icon-plus" id="btnSaveRubro"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelRubro"></button>
        </div>
      </form>  

      <!-- UPDATE -->
      <form action="/updateRubro" method="POST" stage="off" class="updateForm animate__animated animate__bounceInDown" id="updateFormRubro">
        <div class="div_resize">
          <label id="" for="updateRubroNro" class="titles">MODIFICAR RUBRO</label>
          <label id="rubro_btn2" for="updateRubroNro" class="L2 mainlabels">RUBRO</label>
          <input name="rubroNro" id="updateRubroNro" type="number" class="short rubro_nro2" readonly/>
          <input name="rubroDescri" type="text" id="updateRubroDescri" class="long">
        </div>
        <div class="div_resize">
          <label for="updateNivelRubro" class="L1 mainlabels">NIVEL</label>
          <input id="updateNivelRubro" name="rubroNivel" type="number" class="short"/>
        </div>
        <div class="btnActions">
          <button for="" class=" btn btnModificar icon-arrows-cw" id="btnSaveRubroUpdate"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelRubroUpdate"></button>
        </div>
      </form> 

      <!-- DELETE -->
      <form action="#" method="POST" stage="off" class="deleteForm animate__animated animate__bounceInDown" id="deleteFormRubro">
        <div class="div_resize">
          <label id="" for="delRubroNro" class="titles">¿SEGURO QUE DESEA ELIMINAR?</label>
          <label id="" for="delRubroNro" class="L2 mainlabels">RUBRO</label>
          <input name="delRubroNro" id="delRubroNro" type="number" class="short" readonly/>
          <input name="delRubroDescri" type="text" id="delRubroDescri" class="long" readonly/>
        </div>      
        <div class="btnActions">
          <button for="" class="btn btnEliminar icon-trash-2" id="btnSaveRubroDelete"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelRubroDelete"></button>
        </div>
      </form> 
      
    </div>